* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #DFEEEA;
}

input, button {
    font-size: 16px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D3C55;
    color: white;
}

.head_bar h1 span{
    font-size: 8px;
    color: rgba(255, 255, 255, 0.589);
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #0D3C55;
    color: white;
}

.input_section > h2 {
    text-align: center;
    color: white
}

.input_section > form > .input {
    margin: 8px 0;
    
}

.input_section > form > button {
    background-color: #336a70;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button:hover{
    background-color: #2F5D62;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color:#DFEEEA ;
}

.input_section > form > .input > label {
    color: white;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #0D3C55;
}

.search_section > h2 {
    color: white;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    color: white;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    background-image: url(https://image.flaticon.com/icons/png/512/622/622669.png);
    background-position: 10px 12px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color:#DFEEEA ;
    width: 100%;
    padding: 12px 20px 12px 42px;
    border-radius: 5px;
}



.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    background-color: #2F5D62;
}

.book_shelf > h2 {
    color: white;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    background-color: #DFEEEA;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;

}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}


.book_shelf > .book_list > .book_item > .action > .green {
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 5px;
}
.book_shelf > .book_list > .book_item > .action > .green:hover{
    background-color: darkgreen;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: rgb(182, 20, 20);
    color: white;
    font-size: 12px;
    padding: 5px;
}
.book_shelf > .book_list > .book_item > .action > .red:hover{
    background-color: darkred;
}
